# === Python (кэш, сборки, метаданные) ===
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# === Виртуальное окружение ===
venv/
.venv/
env/

# === Пользовательские конфиги и runtime-данные ===
config/config.json
config/chat_history.json
config/mem_data.json
config/init_prompt.txt 
config/chat_session.json


# === Локальные скрипты ===

run.sh

# === IDE и временные файлы ОС ===
.idea/
.vscode/
*.swp
.DS_Store
